<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Stylish&display=swap"
            rel="stylesheet"
        />

        <title>2021 WDB 개인 프로젝트 과제</title>
    </head>
    <style>
        .container-sj {
            background-image: url('/static/img/sejong.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: local;
            background-position: right bottom -300px;
        }
        a {
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: gray;
        }
        body {
            background-image: url('/static/img/hangul.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: local;
        }
        * {
            font-family: 'Stylish';
        }
        .car {
            float: left;
            width: 30%;
            height: 640px;
        }
        .carousel {
            float: right;
            width: 70%;
            height: 640px;
            margin: 10px 0 0 0;
        }
        .card {
            float: left;
            width: 40%;
            margin: 10px 50px 0 0;
        }
        .footer {
            clear: both;
        }
    </style>
    <body>
        <div class="container-sj" href="/">
            <h1 class="pt-5 pb-5 col-12 text-center">
                <a href="/">
                    史교육놀이터
                </a>
            </h1>
        </div>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <!-- <a class="navbar-brand" href="#">?</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button> -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/member/about/">
                                    &nbsp;&nbsp; About</a
                                >
                            </li>
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDropdown"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    &nbsp;&nbsp; 인물
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">선사 시대</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">고조선</a></li>
                                    <li><a class="dropdown-item" href="#">초기 국가</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">삼국 시대</a></li>
                                    <li><a class="dropdown-item" href="#">남북국 시대</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">고려</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">조선 전기</a></li>
                                    <li><a class="dropdown-item" href="#">조선 후기</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">일제강점기</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">광복 이후 ~ 현대</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDropdown"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    &nbsp;&nbsp; 사건
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">선사 시대</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">고조선</a></li>
                                    <li><a class="dropdown-item" href="#">초기 국가</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">삼국 시대</a></li>
                                    <li><a class="dropdown-item" href="#">남북국 시대</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">고려</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">조선 전기</a></li>
                                    <li><a class="dropdown-item" href="#">조선 후기</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">일제강점기</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">광복 이후 ~ 현대</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDropdown"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    &nbsp;&nbsp; 시기
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">선사 시대</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">고조선</a></li>
                                    <li><a class="dropdown-item" href="#">초기 국가</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">삼국 시대</a></li>
                                    <li><a class="dropdown-item" href="#">남북국 시대</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">고려</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">조선 전기</a></li>
                                    <li><a class="dropdown-item" href="#">조선 후기</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">일제강점기</a></li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item" href="#">광복 이후 ~ 현대</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/merch/">&nbsp;&nbsp; Merch</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/merch/quiz/">&nbsp;&nbsp; Quiz</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/qna/list/">&nbsp;&nbsp; QnA</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input
                                class="form-control me-2"
                                type="search"
                                placeholder="Search"
                                aria-label="Search"
                            />
                            <button class="btn btn-outline-success" type="submit">Search</button>
                            {% if user_id %}
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDropdown"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    &nbsp;&nbsp; 내 정보
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">개인 정보 수정</a></li>
                                    <li><a class="dropdown-item" href="#">포인트 보기</a></li>
                                    <li>
                                        <a class="dropdown-item" href="/member/logout">로그아웃</a>
                                    </li>
                                </ul>
                            </li>
                            <p class="pt-3">
                                &nbsp;&nbsp; 반가워요 {{user_id}}님!! &nbsp;&nbsp;
                            </p>
                            {% else %}
                            <p class="pt-3">
                                &nbsp;&nbsp;
                            </p>
                            <button class="btn btn-outline-success" type="submit">
                                <a href="/member/register/" class="link-success"> Join </a>
                            </button>
                            <p class="pt-3">
                                &nbsp;&nbsp;
                            </p>
                            <button
                                class="btn btn-outline-success"
                                type="submit"
                                onclick="increment()"
                            >
                                <a href="/member/login/" class="link-success"> Login </a>
                            </button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="car">
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/bukbul.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">오늘의 역사 퀴즈</h5>
                        <hr />
                        <p class="card-text">
                            Q. '북벌'에 대한 설명으로 옳은 것은?<br />
                            1) 소현 세자가 적극적으로 준비하였다.<br />
                            2) 임진왜란을 일으킨 일본에 복수하는 것을 뜻한다.<br />
                            3) 청나라의 발달한 문물을 받아들이자는 주장이다.<br />
                            4) 병자호란을 일으킨 청나라에 복수하는 것을 뜻한다.
                        </p>
                        <a href="/merch/quiz" class="btn btn-primary">답 보기 및 퀴즈 더 보기</a>
                    </div>
                </div>
            </div>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button
                        type="button"
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"
                    ></button>
                    <button
                        type="button"
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"
                    ></button>
                    <button
                        type="button"
                        data-bs-target="#carouselExampleCaptions"
                        data-bs-slide-to="2"
                        aria-label="Slide 3"
                    ></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/img/book.jpg" class="d-block w-70" alt="..." />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>국립문화재연구소, 고고분야 첫 점자감각책 발간</h5>
                            <p>
                                시각장애인, 중도 실명인, 저시력 장애인, 소아층, 고령층 등을
                                대상으로<br />평소 접하기 어려운 고고학 분야를 점자와 음성으로
                                소개한 점자책이다.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/img/sudae.jpg" class="d-block w-70" alt="..." />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>서대문 형무소 역사관 특별 전시</h5>
                            <p style="color: black;">
                                기간: 2021-01-01 ~ 2021-12-31<br />설명: 호남의병, 6.10만세운동 등
                                2021년 이달의 독립운동가를 만나보세요!<br />가격: 어른 1인당 3000원,
                                청소년 1인당 1500원, 어린이 1인당 1000원
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/img/uni.jpg" class="d-block w-70" alt="..." />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>22학년도 '문화재수리기능인 양성과정' 교육생 모집</h5>
                            <p style="color: black;">
                                기간: 2021.12.13 ~ 2022.01.14<br />설명: 전통 문화유산을 보존하기
                                위해 문화재청이 설립한 한국전통문화대학교의 전통문화교육원에서 서류
                                전형과 면접을 통해 교육생을 모집한다.
                            </p>
                        </div>
                    </div>
                </div>
                <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev"
                >
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next"
                >
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="container">
            <div class="card mt-3" style="width: 18rem;">
                <img src="static/img/china.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">문화대혁명까지 긍정한 시진핑의 새 역사 결의</h5>
                    <p class="card-text">
                        이번 ‘역사 결의’는 마오쩌둥의 치세를 놓고 “중국 인민은 구세계를 잘 파괴했을
                        뿐만 아니라 신세계 건설을 잘했고, 사회주의만이 중국을 구할 수 있었으며,
                        사회주의만이 중국을 발전시킬 수 있었다”고 긍정 평가했다.
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        중앙일보
                        <img src="static/img/joong.jpg" height="40px" width="200px" alt="..." />
                    </li>
                </ul>
                <div class="card-body">
                    <a href="https://www.joongang.co.kr/article/25023079#home" class="card-link"
                        >> 시진핑의 중국, 문화대혁명까지 긍정 <br /><strong>신경진 기자</strong></a
                    >
                    <br />
                    <a href="https://www.joongang.co.kr/article/25024012#home" class="card-link"
                        >> 시진핑은 왜 과거를 지배하려 하나 <br /><strong
                            >예영준 기자, 중앙일보 논설위원</strong
                        ></a
                    >
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="static/img/kbs.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">'역사저널 그날'에서 다루는 대항해 시대</h5>
                    <p class="card-text">
                        극단의 평가가 이뤄지고 있는 콜럼버스의 여정과 대항해 시대를 '역사저널
                        그날'이라는 프로그램에서 다루었는데, 이에 대한 다양한 사람들의 의견을 살펴볼
                        수 있다.
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        한국강사신문
                        <img src="static/img/kln.JPG" height="40px" width="150px" alt="..." />
                    </li>
                </ul>
                <div class="card-body">
                    <a
                        href="http://www.lecturernews.com/news/articleView.html?idxno=81741"
                        class="card-link"
                        >역사저널 그날, 대항해시대 ‘유럽의 탐욕, 아프리카의 눈물’ <br /><strong
                            >이미숙 기자</strong
                        ></a>
                    <br/>
                    <a
                        href="http://www.lecturernews.com/news/articleView.html?idxno=81236"
                        class="card-link"
                        >역사저널 그날 ‘대항해시대-콜럼버스의 거짓말, 비극을 키우다’ <br /><strong
                            >이미숙 기자</strong
                        ></a
                    >
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="static/img/sj.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">
                        세종시, 선사·역사시대 유물·유적의 역사성·가치 등 집중 조명
                    </h5>
                    <p class="card-text">
                        세종시가 15년간 국내 단일사업지구로는 국내 최대 규모로 진행된
                        행정중심복합도시 문화재 발굴조사 성과를 한자리에 모아 역사성과 가치를
                        조명해보는 기회를 마련했다.
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        아시아투데이
                        <img src="static/img/asia.JPG" height="40px" width="150px" alt="..." />
                    </li>
                </ul>
                <div class="card-body">
                    <a
                        href="https://www.asiatoday.co.kr/view.php?key=20211215010009042"
                        class="card-link"
                        >세종시, ‘행복도시 문화재 학술대회’…발굴조사 성과·과제 논의 <br /><strong
                            >이상선 기자</strong
                        ></a
                    >
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="footer">
                <hr class="mt-5" />
                <p class="text-center">
                    copyright@2021 reserved 이예원 (2019310485)
                </p>
            </div>
        </div>

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    --></body>
</html>

<!-- <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <img src="/static/img/his.jpg" class="rounded me-2" alt="..." />
        <strong class="me-auto">회원가입 시 혜택도 누릴 수 있어요!</strong>
        <small>반갑습니다 :) </small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Hello, world! This is a toast message.
    </div>
</div> -->