{% extends "base.html" %}
{% block contents %}
<style>
    * {
        font-family: 'Stylish';
    }
</style>
<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1>
             글 쓰기
            </h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <form method="POST" action=".">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="subject" class="form-label">글 제목</label>
                    <input type="text" class="form-control" name="subject" />
                </div>
                <div class="mb-3">
                    <label for="memberID" class="form-label">작성자 아이디</label>
                    <input class="form-control" type="text" name="memberID" value="{{user_id}}" aria-label="readonly input example" readonly />
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">글 내용</label>
                    <textarea class="form-control" name="content" rows="5"></textarea>
                </div>
                {% if user_id %}
                <div class="col">
                    <input id="point" type="number" min="0" step="10" />
                    <button type="submit" class="btn btn-primary mt-4" onclick="increment()">
                        등록
                    </button>
                    <script>
                        function increment() {
                            document.getElementById('point').stepUp();
                        }
                    </script>
                </div>
                {% else %}
                <div class="col">
                    <button type="submit" class="btn btn-primary mt-4">
                        등록
                    </button>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}